/* .modal-root {
  color: red;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal {
  background-color: white;
  width: 700px;
  height: 400px;
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  position: fixed;
}
.modal button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
} */

.comic {
  position: fixed;
}
